{% extends "FullLayout.html.twig" %}
{% block content %}


<div class="carrer-banner">
    <img src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/banner-img/careerBanner.jpg') }}" alt="">

    <div class="text">
        <h1>Make Your Passion Your <span>PayCheck </span></h1>
    </div>
</div>
<section class="carrerInfo-text">
    <div class="container">
        <div class="heading">
            <div class="icon"><em class="icon icon-heading-icon"></em></div>
            <div class="text">
                <h2>Lorem Ipsum is dummy</h2>
            </div>
            <div class="info-text">All the information you will need is listed below, just click on the page you want to view and that's it.</div>
            <div class="stickLine"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        <p>Nullam elementum nisi eget mi mollis laoreet. Morbi non dignissim tellus, vitae blandit urna Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi non dignissim.Nullam elementum nisi eget mi mollis laoreet. Morbi non dignissim tellus, vitae blandit urna Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi non dignissim.</p>
    </div>
</section>
<section class="carrer-view">
    <div class="container">
        <div class="carrer-boxMain">
            <div class="row">
                <div class="col-sm-6">
                    <div class="carrer-box">
                        <a data-target="#why_work" data-toggle="modal" href="javascript:;">
                            <img src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/career-img/career-img1.jpg') }}" alt="">

                            <div class="caption">Why Work With Us</div>
                        </a>
                    </div>
                </div>
                <div class="modal modal-vcenter fade" id="why_work" tabindex="-1" role="dialog">
                    <div class="modal-dialog jopFullview-popup" role="document">
                        <div class="modal-content text-left">
                            <div data-dismiss="modal" aria-label="Close" class="close-icon"><img alt="" src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/close-icon.png') }}"></div>

                            <h1>Why Work With Us</h1>
                            <p>Every mind of beauty envisions a future crafted by dream. Unfortunately, most dreams are forgotten while employees work towards fulfilling their employer’s goals. But not at eventplanning.com. </p>
                            <p>Here we give opportunities to all our team members to step out of their comfort zone and focus all energies to master their skills and achieve goals while following their own dreams. </p>
                            <p>Members are encouraged to discover their true potential while building a bond of trust. It is a known fact, that without employees there are no companies. And eventplanning.com will eventplanning your membership while stating that you come first. </p>
                            <p><strong>Once a team member always a team member:</strong><br>Complete your tenure of two years as a team member, and feel free to discover new horizons, while taking on new ventures, and following your own dreams. Once complete, you gain the lifetime opportunity to re-join eventplanning.com in the future. And no interview required.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="carrer-box">
                        <a data-target="#meet_team" data-toggle="modal" href="javascript:;">
                            <img src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/career-img/career-img2.jpg') }}" alt="">

                            <div class="caption">Meet The Team</div>
                        </a>
                    </div>
                </div>
                <div class="modal modal-vcenter fade" id="meet_team" tabindex="-1" role="dialog">
                    <div class="modal-dialog jopFullview-popup" role="document">
                        <div class="modal-content text-left">
                            <div data-dismiss="modal" aria-label="Close" class="close-icon"><img alt="" src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/close-icon.png') }}"></div>

                            <h1>Meet The Team</h1>
                            <p>lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>
                            <p>lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>
                            <p>lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>
                            <p>lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="carrer-box">
                        <a data-target="#life_event" data-toggle="modal" href="javascript:;">
                            <img src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/career-img/career-img3.jpg') }}" alt="">

                            <div class="caption">Life at Event Planning</div>
                        </a>
                    </div>
                </div>
                <div class="modal modal-vcenter fade" id="life_event" tabindex="-1" role="dialog">
                    <div class="modal-dialog jopFullview-popup" role="document">
                        <div class="modal-content text-left">
                            <div data-dismiss="modal" aria-label="Close" class="close-icon"><img alt="" src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/close-icon.png') }}"></div>

                            <h1>Life at Event Planning</h1>
                            <p>At eventplanning.com, we don’t hire employees. Instead, we look for team members who will join us on our journey to achieve greater heights, while widening horizons.  </p>

                            <p>Why work hard when you can work smart. More that quantity, eventplanning.com believes in quality that can only be achieved when you enjoy what you do. You can enjoy what you do by simply making work fun.</p>
                            <p>In this informal setting, team members can dress how they want. The only person you need to impress is yourself. Your clothes do not matter. </p>
                            <p>Although punctuality is a must for any kind of organization to flourish, we at eventplanning.com offer flexible and the option from working from home.   </p>
                            <p>Besides freedom of time and attire, team members are encouraged to think and express their opinions no matter how trivial they may be. There are no silly questions and no such thing as a bad idea.   </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="carrer-box">
                        <a data-target="#employee_testimonials" data-toggle="modal" href="javascript:;">
                            <img src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/career-img/career-img4.jpg') }}" alt="">
                            

                            <div class="caption">Employee Testimonials</div>
                        </a>
                    </div>
                </div>
                <div class="modal modal-vcenter fade" id="employee_testimonials" tabindex="-1" role="dialog">
                    <div class="modal-dialog jopFullview-popup" role="document">
                        <div class="modal-content text-left">
                            <div data-dismiss="modal" aria-label="Close" class="close-icon"><img alt="" src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/close-icon.png') }}"></div>

                            <h1>Employee Testimonials</h1>
                            <p>lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>
                            <p>lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>
                            <p>lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>
                            <p>lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="current-openning">
    <div class="container">
        <div class="heading">
            <div class="icon"><em class="icon icon-heading-icon"></em></div>
            <div class="text">
                <h2>Current Openings</h2>
            </div>
            <div class="info-text">All the information you will need is listed below, just click on the page you want to view and that's it.</div>
        </div>
        <div class="openings-info">
            <div class="row">
                <div class="col-sm-3">
                    <div class="openings-menu">
                        <ul>
                            <li class="active"><a href="#">All Openings</a></li>
                            <li><a href="#">Call Center (2)</a></li>
                            <li><a href="#">Content & Research  (1)</a></li>
                            <li><a href="#">Corporate  (3)</a></li>
                            <li><a href="#">Finance & Accounts (1)</a></li>
                            <li><a href="#">HR (1)</a></li>
                            <li><a href="#">Marketing (1)</a></li>
                            <li><a href="#">Sales (80)</a></li>
                            <li><a href="#">Technology (20)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="openings-title">All Openings</div>
                    <div class="job-view">
                        <div class="job-viewBox">
                            <div class="openings-slide">
                                <p><label>Job Title : </label> Regional Manager- Data Support</p>
                                <p class="jobLocation"><label>Location:</label> Bangalore</p>
                                <p class="jobExperience"><label>Experience:</label> 8-14 years</p>
                                <ul class="skill">
                                    <li>Product</li>
                                    <li>Manager</li>
                                    <li>Data Support</li>
                                </ul>
                                <a class="btn" data-target="#jopFullviewModal" data-toggle="modal" href="javascript:;">Know More</a>
                            </div>
                            <div class="openings-slide">
                                <p><label>Job Title : </label> Assistant Manager - Research & Analytics Experience </p>
                                <p class="jobLocation"><label>Location:</label> Bangalore</p>
                                <p class="jobExperience"><label>Experience:</label> 8-14 years</p>
                                <ul class="skill">
                                    <li>Product</li>
                                    <li>Manager</li>
                                    <li>Data Support</li>
                                </ul>
                                <a class="btn" data-target="#jopFullviewModal" data-toggle="modal" href="javascript:;">Know More</a>
                            </div>
                            <div class="openings-slide">
                                <p><label>Job Title : </label> Analytics</p>
                                <p class="jobLocation"><label>Location:</label> Bangalore</p>
                                <p class="jobExperience"><label>Experience:</label> 8-14 years</p>
                                <ul class="skill">
                                    <li>Product</li>
                                    <li>Manager</li>
                                    <li>Data Support</li>
                                </ul>
                                <a class="btn" data-target="#jopFullviewModal" data-toggle="modal" href="javascript:;">Know More</a>
                            </div>
                            <div class="openings-slide">
                                <p><label>Job Title : </label> Regional Manager- Data Support</p>
                                <p class="jobLocation"><label>Location:</label> Bangalore</p>
                                <p class="jobExperience"><label>Experience:</label> 8-14 years</p>
                                <ul class="skill">
                                    <li>Product</li>
                                    <li>Manager</li>
                                    <li>Data Support</li>
                                </ul>
                                <a class="btn" data-target="#jopFullviewModal" data-toggle="modal" href="javascript:;">Know More</a>
                            </div>
                            <div class="openings-slide">
                                <p><label>Job Title : </label> Assistant Manager - Research & Analytics Experience </p>
                                <p class="jobLocation"><label>Location:</label> Bangalore</p>
                                <p class="jobExperience"><label>Experience:</label> 8-14 years</p>
                                <ul class="skill">
                                    <li>Product</li>
                                    <li>Manager</li>
                                    <li>Data Support</li>
                                </ul>
                                <a class="btn" data-target="#jopFullviewModal" data-toggle="modal" href="javascript:;">Know More</a>
                            </div>
                            <div class="openings-slide">
                                <p><label>Job Title : </label> Analytics</p>
                                <p class="jobLocation"><label>Location:</label> Bangalore</p>
                                <p class="jobExperience"><label>Experience:</label> 8-14 years</p>
                                <ul class="skill">
                                    <li>Product</li>
                                    <li>Manager</li>
                                    <li>Data Support</li>
                                </ul>
                                <a class="btn" data-target="#jopFullviewModal" data-toggle="modal" href="javascript:;">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal modal-vcenter fade" id="jopFullviewModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog jopFullview-popup" role="document">
                            <div class="modal-content">
                                <div data-dismiss="modal" aria-label="Close" class="close-icon"><img alt="" src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/close-icon.png') }}"></div>

                                <h1>Regional Manager- Data Support</h1>
                                <div class="info-slide">
                                    <label>Experience Range: </label>
                                    <p>8-14 years</p>
                                </div>
                                <div class="info-slide">
                                    <label>Location: </label>
                                    <p>Bangalore</p>
                                </div>
                                <h2>Responsibilities:</h2>
                                <ul>
                                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
                                    <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </li>
                                    <li>It has survived not only five centuries, but also the leap into electronic typesetting, </li>
                                    <li>Remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</li>
                                    <li>Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
                                    <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </li>
                                    <li>It has survived not only five centuries, but also the leap into electronic typesetting,</li>
                                    <li>Remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</li>
                                </ul>
                                <div class="apply">
                                    <label>To apply on this job Email your resume</label>
                                    <a href="mailTo:careers@eventplanning.com"><span class="icon icon-envelope"></span>careers@eventplanning.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
