{% extends "FullLayout.html.twig" %}
{% block content %}


<div class="simple-banner">
    <div class="banner-img">
        <img src="  {{ asset('templates/120.72.91.53/themeforest/event_planning/images/banner-img/search-resultBanner.png') }}" alt="">

    </div>
    <div class="text">
        <div class="inner-text">
            <h2>Leipzig Marriott Hotel </h2>
            <p>Am Hallischen Tor 1 Saxony Leipzig, <br>04109 - Germany</p>
        </div>
    </div>
</div>
<section class="content">
    <div class="breadcrumb">
        <div class="container">
            <ul>
                <li><a href="#">Home</a>/</li>
                <li><a href="#">Wedding Planning</a>/</li>
                <li><a href="#">Germany - Berlin / East</a>/</li>
                <li class="active"><a href="#">Leipzig Marriott Hotel </a></li>
            </ul>
        </div>
    </div>
    <div class="search-resultPage">
        <div class="fiexd-nav">
            <div class="container">
                <div class="back-link"><a href="#"><span class="icon icon-back-filled"></span>Back</a></div>
                <ul>
                    <li>
                        <a href="javascript:;">
                            <span class="icon icon-info"></span>
                            <span class="text">Information</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="icon icon-hands"></span>
                            <span class="text">Amenities</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="icon icon-thumb-image"></span>
                            <span class="text">Photo Gallery</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="icon icon-special-features"></span>
                            <span class="text">Special Features</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="icon icon-meal"></span>
                            <span class="text">Meal Plans</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="icon icon-pricing-plan"></span>
                            <span class="text">Pricing Plan</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="icon icon-term-condition"></span>
                            <span class="text"> Terms & Conditions</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="icon icon-cancellation-policy"></span>
                            <span class="text">Cancellation Policy</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                You have successfully updated the details.
            </div>

            <div class="row">
                <div class="col-lg-9 col-sm-9 col-md-9">
                    <div class="hotel-info tab-content">
                        <h2>About the Hotel</h2>
                        <div class="inner-info">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                            <div class="address">
                                <div class="map-view">
                                    <img src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/map-img1.png') }}" alt="">
                                    <div class="link"><a href="#">See Location</a></div>
                                </div>
                                <div class="address-view">
                                    <h3>Address :</h3>
                                    <div class="address-slide full">
                                        <div class="icon icon-location-2"></div>
                                        <label>Leipzig Marriott Hotel </label>
                                        <p>Am Hallischen Tor 1 Saxony Leipzig, 04109 - Germany</p>
                                    </div>
                                    <h3>Near by :</h3>
                                    <div class="address-slide">
                                        <div class="icon icon-plane"></div>
                                        <label>13 km</label>
                                        <p>from Sardar Vallabhbhai Patel Airport....</p>
                                    </div>
                                    <div class="address-slide">
                                        <div class="icon icon-train"></div>
                                        <label>05 km</label>
                                        <p>from Kalupur Railway Station</p>
                                    </div>
                                    <div class="address-slide">
                                        <div class="icon icon-bus"></div>
                                        <label>04 km</label>
                                        <p>from Gita Mandir Bus Stop</p>
                                    </div>
                                    <div class="address-slide">
                                        <div class="icon icon-cart"></div>
                                        <label>02 km</label>
                                        <p>Raipur Shopping Mall</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="amenities-list tab-content">
                        <h2>Amenities for You and Guests</h2>
                        <div class="amenities-view">
                            <div class="amenities-box">
                                <div class="icon icon-tea"></div>
                                <span>Coffee Shop</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-wifi"></div>
                                <span>Wifi</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-parking"></div>
                                <span>Parking</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-airport-shuttle"></div>
                                <span>Airport Shuttle</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-bar"></div>
                                <span>Bar</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-road-guide"></div>
                                <span>Guide Service</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-yoga"></div>
                                <span>Yoga Centre</span>
                            </div>
                            <div class="amenities-box disabled">
                                <div class="icon icon-ayurved"></div>
                                <span>Ayurveda Centre</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-payment"></div>
                                <span>Payment Mode</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-ac"></div>
                                <span>A/C</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-meeting"></div>
                                <span>Conference Hall</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-apple"></div>
                                <span>Health Club</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-gym"></div>
                                <span>Gym</span>
                            </div>
                            <div class="amenities-box disabled">
                                <div class="icon icon-flower"></div>
                                <span>Florist on Request</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-swimming"></div>
                                <span>Swimming Pool</span>
                            </div>
                            <div class="amenities-box disabled">
                                <div class="icon icon-steam-bath"></div>
                                <span>Steam Sauna</span>
                            </div>
                            <div class="amenities-box disabled">
                                <div class="icon icon-shirt"></div>
                                <span>Laundry Service</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-spa"></div>
                                <span>Spa</span>
                            </div>
                            <div class="amenities-box disabled">
                                <div class="icon icon-beauty-saloon"></div>
                                <span>Beauty Salon</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-sun-bed"></div>
                                <span>Sun Beds</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-bag"></div>
                                <span>Business Centre</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-doctor"></div>
                                <span>Doctor on Call</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-massage-center"></div>
                                <span>Massage Centre</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-taxi"></div>
                                <span>Taxi Service</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-currency-xchg"></div>
                                <span>Currency Exchange</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-handicape"></div>
                                <span>Handicap Facilities</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-spoon"></div>
                                <span>Restaurant</span>
                            </div>
                            <div class="amenities-box">
                                <div class="icon icon-room-service"></div>
                                <span>Room Service</span>
                            </div>
                        </div>
                    </div>
                    <div class="photo-gallery tab-content">
                        <h2>Photo Gallery</h2>
                        <div class="gallery-view">
                            <div class="row">
                                <div class="col-sm-4 col-xs-6">
                                    <div class="img">
                                        <a href="templates/120.72.91.53/themeforest/event_planning/images/gallery-img/gallery1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply">
                                            <img src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/gallery-img/gallery1.jpg') }}" alt="">

                                        </a>
                                    </div>
                                    <div class="name">Lorem Ipsum is simply </div>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <div class="img">
                                        <a href="templates/120.72.91.53/themeforest/event_planning/images/gallery-img/gallery2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply">
                                            <img src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/gallery-img/gallery2.jpg') }}" alt="">

                                        </a>
                                    </div>
                                    <div class="name">Lorem Ipsum is simply </div>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <div class="img">
                                        <a href="templates/120.72.91.53/themeforest/event_planning/images/gallery-img/gallery3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply">
                                            <img src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/gallery-img/gallery3.jpg') }}" alt="">

                                        </a>
                                    </div>
                                    <div class="name">Lorem Ipsum is simply </div>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <div class="img">
                                        <a href="templates/120.72.91.53/themeforest/event_planning/images/gallery-img/gallery4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply">
                                            <img src=" {{ asset('templates/120.72.91.53/themeforest/event_planning/images/gallery-img/gallery4.jpg') }}" alt="">

                                        </a>
                                    </div>
                                    <div class="name">Lorem Ipsum is simply </div>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <div class="img">
                                        <a href="templates/120.72.91.53/themeforest/event_planning/images/gallery-img/gallery5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply">
                                            <img src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/gallery-img/gallery5.jpg') }}" alt="">

                                        </a>
                                    </div>
                                    <div class="name">Lorem Ipsum is simply </div>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <div class="img">
                                        <a href="templates/120.72.91.53/themeforest/event_planning/images/gallery-img/gallery6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply">
                                            <img src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/gallery-img/gallery6.jpg') }}" alt="">
                                        </a>
                                    </div>
                                    <div class="name">Lorem Ipsum is simply </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="special-features tab-content">
                        <h2>Special Features</h2>
                        <div class="featuresInfo">
                            <h3>Lorem Ipsum is simply dummy </h3>
                            <p>text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <h3>Lorem Ipsum is simply dummy </h3>
                            <p>text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <h3>Lorem Ipsum is simply dummy </h3>
                            <p>text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        </div>
                    </div>
                    <div class="meal-info tab-content">
                        <h2>Meal Plan In the Hotel</h2>
                        <div class="meal-infoInner">
                            <div class="meal-tab">
                                <ul>
                                    <li><a href="javascript:;" id="breakfast">Breakfast Plan</a></li>
                                    <li class="active"><a href="javascript:;" id="lunch">Lunch Plan</a></li>
                                    <li><a href="javascript:;" id="tea">Hi-Tea Plan</a></li>
                                    <li><a href="javascript:;" id="dinner">Dinner Plan</a></li>
                                </ul>
                            </div>
                            <div class="meal-view">
                                <div class="breakfast-view meal-details">
                                    <div class="row headBlock">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">
                                            <div class="title">Menu 1</div>
                                        </div>
                                        <div class="col">
                                            <div class="title">Menu 2</div>
                                        </div>
                                    </div>
                                    <div class="row headBlock">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag"><label>Veg</label></div>
                                                <div class="nonVag text-left"><label>Non-Veg</label></div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag"><label>Veg</label></div>
                                                <div class="nonVag text-left"><label>Non-Veg</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">
                                            <div class="menu-item">Welcome Drink</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="menu-item">Snacks</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>8</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>5</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>8</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">
                                            <div class="menu-item">Desserts</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>5</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="menu-item">Tea</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>5</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>5</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row odd">
                                        <div class="col">
                                            <div class="menu-item">Coffee</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>3</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>4</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="menu-item">Cookies</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>1</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>1</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row odd">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">
                                            <div class="totle">Rs 1100</div>
                                        </div>
                                        <div class="col">
                                            <div class="totle">Rs 1400</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lunch-view meal-details">
                                    <div class="row headBlock">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">
                                            <div class="title">Menu 1</div>
                                        </div>
                                        <div class="col">
                                            <div class="title">Menu 2</div>
                                        </div>
                                        <div class="col">
                                            <div class="title">Menu 3</div>
                                        </div>
                                    </div>
                                    <div class="row headBlock">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag"><label>Veg</label></div>
                                                <div class="nonVag text-left"><label>Non-Veg</label></div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag"><label>Veg</label></div>
                                                <div class="nonVag text-left"><label>Non-Veg</label></div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag"><label>Veg</label></div>
                                                <div class="nonVag text-left"><label>Non-Veg</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">
                                            <div class="menu-item">Welcome Drink</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>1</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="menu-item">Starter </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>4</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>6</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>NA</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">
                                            <div class="menu-item">Soup</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>0</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>1</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>1</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>2</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="menu-item">Salad</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>3</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>4</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>5</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">
                                            <div class="menu-item">Main Course </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>3</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>4</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>6</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="menu-item">Rice </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>1</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>1</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">
                                            <div class="menu-item">Daal</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>1</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>NA</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="menu-item">Assorted Breads </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>3</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>0</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>0</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">
                                            <div class="menu-item">Desserts</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>5</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>4</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>6</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">
                                            <div class="totle">Rs 1100</div>
                                        </div>
                                        <div class="col">
                                            <div class="totle">Rs 1400</div>
                                        </div>
                                        <div class="col">
                                            <div class="totle">Rs 1600</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tea-view meal-details">
                                    <div class="row headBlock">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">
                                            <div class="title">Menu 1</div>
                                        </div>
                                    </div>
                                    <div class="row headBlock">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag"><label>Veg</label></div>
                                                <div class="nonVag text-left"><label>Non-Veg</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">
                                            <div class="menu-item">Welcome Drink</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="menu-item">Snacks</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>8</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">
                                            <div class="menu-item">Desserts</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="menu-item">Tea</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>5</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">
                                            <div class="menu-item">Coffee</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>3</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="menu-item">Cookies</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>1</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">
                                            <div class="totle">Rs 1100</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dinner-view meal-details">
                                    <div class="row headBlock">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">
                                            <div class="title">Menu 1</div>
                                        </div>
                                        <div class="col">
                                            <div class="title">Menu 2</div>
                                        </div>
                                        <div class="col">
                                            <div class="title">Menu 3</div>
                                        </div>
                                    </div>
                                    <div class="row headBlock">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag"><label>Veg</label></div>
                                                <div class="nonVag text-left"><label>Non-Veg</label></div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag"><label>Veg</label></div>
                                                <div class="nonVag text-left"><label>Non-Veg</label></div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag"><label>Veg</label></div>
                                                <div class="nonVag text-left"><label>Non-Veg</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">
                                            <div class="menu-item">Welcome Drink</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>1</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="menu-item">Starter </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>4</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>6</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>NA</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">
                                            <div class="menu-item">Daal</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>1</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>2</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>NA</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="menu-item">Assorted Breads </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>3</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>0</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>0</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">
                                            <div class="menu-item">Desserts</div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>5</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>4</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="foodType">
                                                <div class="vag">
                                                    <span>6</span>
                                                </div>
                                                <div class="nonVag">
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row odd">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">
                                            <div class="totle">Rs 1100</div>
                                        </div>
                                        <div class="col">
                                            <div class="totle">Rs 1400</div>
                                        </div>
                                        <div class="col">
                                            <div class="totle">Rs 1600</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="price-plane tab-content">
                        <h2>Price Plan</h2>
                        <div class="price-inner">
                            <div class="day-rent">
                                <label>Rent Per Day</label>
                                <span>Rs 10,000</span>
                            </div>
                            <table class="price-table">
                                <tr>
                                    <th>Meal type</th>
                                    <th>Min(Rs)</th>
                                    <th>Max(Rs)</th>
                                </tr>
                                <tr>
                                    <td><label for="radio-01" class="label_radio"><input type="radio" value="1" id="radio-01" name="sample-radio">Breakfast</label></td>
                                    <td>300</td>
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <td><label for="radio-02" class="label_radio"><input type="radio" value="1" id="radio-02" name="sample-radio">Lunch</label></td>
                                    <td>400</td>
                                    <td>600</td>
                                </tr>
                                <tr>
                                    <td><label for="radio-03" class="label_radio"><input type="radio" value="1" id="radio-03" name="sample-radio">Dinner</label></td>
                                    <td>500</td>
                                    <td>750</td>
                                </tr>
                                <tr>
                                    <td><label for="radio-04" class="label_radio"><input type="radio" value="1" id="radio-04" name="sample-radio">Hi-Tea</label></td>
                                    <td>350</td>
                                    <td>500</td>
                                </tr>
                            </table>
                        </div>
                        <div class="note">* The prices are indicative and may vary based on the menu customization</div>
                    </div>
                    <div class="terms-conditions tab-content">
                        <h2>Terms & Conditions</h2>
                        <div class="conditions">
                            <h3>Lorem Ipsum is simply dummy </h3>
                            <p>text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <h3>Lorem Ipsum is simply dummy </h3>
                            <p>text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <h3>Lorem Ipsum is simply dummy </h3>
                            <p>text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                    <div class="cancellation-policy tab-content">
                        <h2>Cancellation Policy</h2>
                        <div class="policy">
                            <h3>1 policy</h3>
                            <p>text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <h3>2 policy</h3>
                            <p>text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <h3>3 policy</h3>
                            <p>text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>


                </div>
                <div class="col-log-3 col-sm-3 col-md-3">
                    <div class="booking-formMain">
                        <div class="book-title">Enter Booking Details </div>
                        <div class="book-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-box has-error">
                                        <input type="text" placeholder="Name">
                                        <div class="help-block">Date cannot be blank.</div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="input-box">
                                        <input type="text" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="input-box">
                                        <input type="text" placeholder="Mobile">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="input-box">
                                        <input type="text" placeholder="Date">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="input-box">
                                        <input type="text" placeholder="Time">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="input-box">
                                        <input type="text" placeholder="Min Guest">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="input-box">
                                        <input type="text" placeholder="Max Guest">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <a  href="javascript:;" data-toggle="modal" data-target="#seatingModal" class="select-seating">
                                        <span class="select-value">Select Seating</span>
                                        <span class="arrow"><img src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/select-arrow.png') }}" alt=""></span>

                                    </a>
                                </div>
                                <div class="col-sm-12">
                                    <div class="input-box">
                                        <input type="text" placeholder="Meal Type">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="input-box">
                                        <input type="text" placeholder="Amount to Pay">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="input-box">
                                        <input type="text" placeholder="Special Instruction">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="submit-box">
                                        <input type="submit" value="Book Now" class="btn">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-vcenter fade" id="seatingModal" tabindex="-1" role="dialog">
                <div class="modal-dialog seating-popup" role="document">
                    <div class="modal-content">
                        <div class="close-icon" aria-label="Close" data-dismiss="modal" ><img src=" {{ asset('templates/120.72.91.53/themeforest/event_planning/images/close-icon.png') }}" alt=""></div>
                        <h1>Seating Availability</h1>

                        <div class="facility-view">
                            <div class="facility-box">
                                <div class="inner-box">
                                    <div class="radio-icon"></div>
                                    <div class="icon icon-theater"></div>
                                    <div class="name">Theatre</div>
                                    <div class="count">500</div>
                                </div>
                            </div>
                            <div class="facility-box">
                                <div class="inner-box">
                                    <div class="radio-icon"></div>
                                    <div class="icon icon-classroom"></div>
                                    <div class="name">Classroom</div>
                                    <div class="count">250</div>
                                </div>
                            </div>
                            <div class="facility-box">
                                <div class="inner-box">
                                    <div class="radio-icon"></div>
                                    <div class="icon icon-banquet"></div>
                                    <div class="name">Banquet</div>
                                    <div class="count">140</div>
                                </div>
                            </div>
                            <div class="facility-box">
                                <div class="inner-box">
                                    <div class="radio-icon"></div>
                                    <div class="icon icon-u-shape"></div>
                                    <div class="name">U-Shape</div>
                                    <div class="count">120</div>
                                </div>
                            </div>
                            <div class="facility-box">
                                <div class="inner-box">
                                    <div class="radio-icon"></div>
                                    <div class="icon icon-reception"></div>
                                    <div class="name">Reception</div>
                                    <div class="count">1000</div>
                                </div>
                            </div>
                            <div class="facility-box active">
                                <div class="inner-box">
                                    <div class="radio-icon"></div>
                                    <div class="icon icon-boardroom"></div>
                                    <div class="name">Boardroom</div>
                                    <div class="count">10</div>
                                </div>
                            </div>
                        </div>
                        <div class="select-btn"><a href="javascript:;" class="btn">select</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}